{% extends 'base.html' %}

{% block content %}
    <div class="row shadow p-3 mb-5 bg-white rounded">
        <h1>Text Upload</h1>
        <p>Please fill in your text.</p>
        <form action='{{ url_for("wikifier.wikify") }}' method='POST' class='mt-3'>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            {% endif %}
            <div class="form-input">
                {% if form_data|length != 0 %}
                    <textarea class="form-control" placeholder="Your text" id="text" name='text' rows="15">
                        {{form_data.text}}
                    </textarea>
                {% else %}
                    <textarea class="form-control" placeholder="Your text" id="text" name='text' rows="15">
                    </textarea>
                {% endif %}
            </div>
            <div class='input-group mt-2'>
                <button type="submit" class='btn btn-primary'>Wikify the text!</button>
            </div>
        </form>
    </div>
    <div class="row shadow p-3 mb-5 bg-white rounded">
        <h1>File Upload</h1>
        <p>Please only fill in an en.tok.off.pos file.</p>
        <form method="POST" action="{{ url_for('wikifier.wikify_file') }}" enctype="multipart/form-data" class="mt-03">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{file_error}}
                </div>
            {% endif %}
            <div class="mb-3">
                <input class="form-control" type="file" name="file" id="file" accept=".pos">
            </div>
            <div class='input-group mt-2'>
                <button type="submit" class='btn btn-primary'>Wikify the file!</button>
            </div>
        </form>
    </div>
{% endblock %}
