{% extends 'base.html' %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div style='white-space: pre-wrap' id="text">
        {% for token in tokens %}
            {%-if token['link'] != None-%}
                <a href="{{token['link']}}">{{token['token']}} </a>
            {%-else-%}
                {{token['token']}}<span> </span>
            {%-endif-%}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <a class="btn btn-primary" href="{{ url_for('wikifier.index') }}">Enter a new text!</a>
  </div>

{% endblock %}